
nav{
   display: flex;
   justify-content: space-between;
   background-color: rgb(148, 197, 107);
}
ul{
    display: flex;
}
h1{
    padding: 20px;
}
ul li{
    padding: 25px;
    color:white;
    background-color: rgb(108, 145, 79);
    cursor: pointer;
    margin-left: 10px;
}
nav img{
    width: 80px;
    height: 60px;
    margin:.1rem;
    cursor:pointer;
}
header{
    position: relative;
}
.login-container{
    width: 100%;
    float: left;
    margin: auto;
}
.login-btn{
    padding: 10px;
    margin-left: 20px;
    cursor:pointer;
}
